header {
    background-color: #6F6AF7;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000; 
    width: 100%; 
    height: 5rem;
    padding: 0 1.25rem;
    padding-bottom:.625rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%; 
}

.logo {
   
    color: #fff;
    
}

.navbar a {
    text-decoration: none;
    color: #fff;
   
}

.search-container {
    position: relative;
    display: flex;
    max-width: 18.75rem;
}

header .navbar a {
    margin: 1.125rem .625rem; 
    padding: 1.125rem;
    color: #fff;
    width: 9.8125rem;
    font-family: DM Sans;
    font-size: 2.2769rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 2.25rem;
    padding-top: 1.875rem;
    margin-top: 1.25rem;
}


header.navbar .logo {
    width: 13.4375rem;
    height: 3.9375rem;
    font-family: Delius Unicase;
    font-size: 3.8394rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10%;
}

.more {
    width: 5.5625rem;
    height: 2.25rem;
    flex-shrink: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 2.2769rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search {
    width: 19.625rem;
    height: 3.5625rem;
    flex-shrink: 0;
    border-radius: 3.9375rem;
}

.more-search-icon {
    width: 3.125rem;
    height: 3.125rem;
    }

.major{
    display: flex;
}

.main {

    width: 100%;
    height: auto;
    margin-top: 1.25rem ;
    display: flex;
}

.screen-image {
    flex: 40%;
    width: 18.75rem;
    height: 21.875rem;
    border-radius: 1.25rem;
    float: left;
    margin-left: 3.125rem;
    margin-top: 1.875rem;
}

.screen-image img{
    width: 18.75rem;
    height: 21.875rem;
}


.text-area {
   
    width: 53.125rem;
    height: 21.875rem;
    display: flex;
    border-radius: 1.25rem;
    border: .375rem solid #FFF;
    background: #E5D8FF;
    box-shadow: .1875rem .3125rem 1.6875rem 0rem rgba(0, 0, 0, 0.25) inset;
    margin-top: 1.5625rem;

}

#text {
width: 57.625rem;
height: 5.1875rem;
flex-shrink: 0;
color: #6F7373;
font-family: DM Sans;
font-size: 1.8125rem;
font-style: normal;
font-weight: 400;
line-height: 178.7%; /* 3.2389rem */
padding-left: .375rem;
padding-top: .375rem ;
padding-right: .625rem;

}

.social {
    width: 5.5rem;
    height: 16.3125rem;
    float: right;
    position: sticky;
    top: 10%;
    margin-top: 18%;
}

.social img {
    width: 5.3125rem;
    height: 5rem;
    left: .4375rem;
    border-radius: .6875rem;
    border: .1875rem solid #000000;
    background-color: #FFF;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
}

.inside_social{
    padding-bottom: .625rem;
}
.middle {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
    margin-top: 33%;
}
.box1 {
width: 14.375rem;
height: 6.25rem;
border-radius: .6875rem;
background: #929DFF;
box-shadow: 0rem .5625rem 1.9375rem 0rem rgba(0, 0, 0, 0.40);
display: flex;
margin-left: 3.125rem;
}

#box-text1 {

color: #FFF;
font-family: DM Sans;
font-size: 1.25rem;
font-style: normal;
font-weight: 700;
letter-spacing: .0725rem;
text-align: left;
padding-left: .625rem;

}


.box2 {

width: 14.375rem;
height: 6.25rem;
border-radius: .6875rem;
background: #734CF2;
box-shadow: 0rem .5625rem 1.9375rem 0rem rgba(0, 0, 0, 0.40);
display: flex;
margin-left: 3.125rem;

    }

#box-text2 {
    color: #FFF;
    font-family: DM Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .0725rem;
    text-align: left;
    padding-left: .625rem;

}

.box3 {
width: 14.375rem;
height: 6.25rem;
border-radius: .6875rem;
background: #D288FF;
box-shadow: 0rem .5625rem 1.9375rem 0rem rgba(0, 0, 0, 0.40);
display: flex;
margin-left: 3.125rem;
}

#box-text3 {
    color: #FFF;
    font-family: DM Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .0725rem;
    text-align: left;
    padding-left: .625rem;
}

.box4 {

width: 14.375rem;
height: 6.25rem;
border-radius: .6875rem;
background: #000;
box-shadow: 0rem .5625rem 1.9375rem 0rem rgba(0, 0, 0, 0.40);
display: flex;
margin-left: 3.125rem;
}

#box-text4 {
    color: #FFF;
    font-family: DM Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .0725rem;
    text-align: left;
    padding-left: .625rem;
}

#calling {
width: 7.5rem;
height: 7.5rem;
padding-top: 4.375rem;
}

.box5 {
    width: 75rem;
    height: 37.5rem;
    display: flex;
    flex-direction: row;
    border-radius: 1.3125rem;
    background: #483EFF;
    margin-left: 1.875rem;
    margin-top: 8%;
    align-self: center;
    border:border-box;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;

}

.child1 {

border-radius: 1.375rem;
box-shadow: 0rem .375rem 2.1875rem 0rem rgba(0, 0, 0, 0.39);
float: left;
width: 16.875rem;
height: 5.625rem;
border: border-box;
margin-top: 1.875rem;
margin-left: 1.5625rem;
background: #BCE0F6;
}


.child2 {

border-radius: 1.3125rem;
background: #483EFF;
box-shadow: 0rem .375rem 2.1875rem 0rem rgba(0, 0, 0, 0.39);
float: left;
width: 16.875rem;
height: 5.625rem;
border: border-box solid white;
margin-top: 2.5rem;
margin-left: 1.5625rem;
border-radius: 1.375rem;
border: .3125rem solid #FFF;
}

.child3 {

border-radius: 1.3125rem;
background: #483EFF;
box-shadow: 0rem .375rem 2.1875rem 0rem rgba(0, 0, 0, 0.39);
float: left;
width: 16.875rem;
height: 5.625rem;
margin-top: 2.5rem;
margin-left: 1.5625rem;
border-radius: 1.375rem;
border: .3125rem solid #FFF;

}

.child4 {
width: 31.25rem;
height: 21.875rem;
border-radius: 1.1875rem;
background: #FFF;
display: flex;
float: right;
border-radius: 1.25rem;
border: .3125rem solid #FFF;
margin-top: 3.125rem;
position: absolute;
margin-left: 40%;
}

.info {
color: #000;
font-family: DM Sans;
font-size: 1.5625rem;
font-style: normal;
font-weight: 700;

letter-spacing: .0875rem;
margin-left: 3.125rem;
padding-top: 2.5rem;
}

.book {
color: #FFF;
align-items: center;
font-size: 1.5625rem;
font-style: normal;
font-weight: 700;
letter-spacing: .0875rem;
padding-top: 2.5rem;
padding-left: 4.375rem;
}

.set {
color: #FFF;
align-items: center;
font-size: 1.5625rem;
font-style: normal;
font-weight: 700;
letter-spacing: .0875rem;
padding-top: 2.5rem;
padding-left: 6.875rem;
}

.left {
    float: left;
    display: flex;
    flex-direction: column;
}

.right {
    float:right;
    display: flex;
}

.main {
    flex-direction: column;
}
.grp1 {
    display: flex;
    padding-bottom: 9.375rem;
}
.bars {
    float: right;
    display: flex;
    padding-block-end: .625rem;
}

.detail {
color: #04285A;
font-family: Inter;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: .2494rem;
width: 23.125rem;
height: 2.25rem;
flex-shrink: 0;

}

#same {
color: #04285A;
font-family: Roboto;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: .1837rem;
}

.firstinfo {
 margin-top:1.25rem;
}

.listing {
    align-self: flex-start;

}

.search-box {
width: 12.5rem;
padding: .625rem;
border-radius: 1.25rem 0 0 1.25rem;
border: .0625rem solid #ccc;
outline: none;
}

.search-button {
background-color: #FFF; 
color: #fff;
border: none;
padding: .625rem;
border-radius: 0 1.25rem 1.25rem 0;
cursor: pointer;
}

.search-icon {
width: 1.25rem;
height: 1.25rem;
}

input::placeholder {
font: 1.25rem sans-serif;
}

.search-button-more {
background-color: rgba(0, 123, 255, 0.8);
color: #fff;
border: none;

}
